.MemeForm {
    width: 30%;
    margin-left: 2%;
}
.smallInput{
    width:60px !important;
    
}
.normalInput{
    width: 300px;
}
.checkInput{
    margin-right: 20%;
}
.checkBoxes{
    text-align: center;
}
