.MemeForm {
    width: 30%;
    margin-left: 2%;
}
.smallInput{
    width:60px !important;
    
}
// .half input{
//     // color: purple;
//     width: 300px;
// }
.MemeForm input, .MemeForm select{
    width: 300px;
}